mixin svg (className, fileName)
    svg(class=className)
        use(xlink:href=`./assets/img/sprite.svg#${fileName}`)

mixin skills-list (params)
    each val, key in params
        li.skills-list__item
            .skill
                .skill__title= val
                svg(width="120" height="120" class="skill__diagram" viewBox="0 0 120 120" preserveAspectRatio="none")
                    circle(r="50" cx="50%" cy="50%" fill="none").skill__diagram-first
                    circle(r="50" cx="50%" cy="50%" transform="rotate(-90 60 60)" class="sector" class=`skill__diagram-${key}`).skill__diagram-second

mixin user (value)
    .user__pic
        img(src="./assets/img/user_photo.jpg").user__img
    if value == "user"
        .user__title Зайцев Дмитрий
        .user__desc Личный сайт веб разработчика
    else if value == "blog"
        .user__title.user__title_blog Блог
        .user__desc Статьи, которые я написал

mixin section-title(title, modif, stars)
    .section-title(class=`section-title_${modif}`)

        if (stars=='2')
            .section-title__pic.section-title__pic_1(style="background-image: url('./assets/img/stars2.svg'); opacity: 0.15")
            .section-title__name= title

        else if (stars=='3')
            .section-title__pic.section-title__pic_2(style="background-image: url('./assets/img/stars3.svg'); opacity: 0.15")
            .section-title__name= title

        else
            .section-title__pic.section-title__pic_1(style="background-image: url('./assets/img/stars2_blue.svg'); opacity: 0.10")
            .section-title__name= title

mixin review(img, text, reviewer, occ, picMod)
    .reviews__bg
    .reviews__pic
        img.reviews__img(src=`${img}` class=`reviews__img_${picMod}`)
    .reviews__text= text
    .reviews__reviewer
        .reviews__name= reviewer
        .reviews__occ — #{occ}
